---
layout: main
---
<header id="about-banner" class="text-center vert-padding">
  <div class="content content-normal side-padding-min">
    <h1 class="heading text-light margin-bottom">About Us</h1>
    <p>
      We are a brick-and-mortar record store operating in 
      Champaign-Urbana for over 40 years, selling
      quality music at quality prices.
    </p>
  </div>
</header>
<section id="about-visit-us" aria-labelledby="visit-us-heading" class="text-light vert-padding side-padding-min">
  <div id="visit-us-content" class="content col2 col2-fixed-r col2-fixed">
    <div class="col2-flexible">
      {% include map.html width=600 height=350 %}
    </div>
    <div id="visit-us-text" class="col2-fixed">
      
      <h2 id="visit-us-heading" class="heading margin-bottom">Visit us</h2>

      <p class="margin-bottom">
        We are located inside the Lincoln Square Mall, 
        nearest to the south entrance off of Illinois St.
      </p>

      <address class="margin-bottom">
        {% for address_line in site.data.business.location.address %}
          <div>{{ address_line }}</div>
        {% endfor %}
      </address>

      {% include hours.html %}
    </div>
  </div>
</section>
<section id="about-follow-us" aria-labelledby="about-follow-us-heading" class="side-padding-min text-center text-light" style="padding-top: 2em;">
  <h2 id="about-follow-us-heading" class="heading">Stay up-to-date</h2>
  <p style="margin-bottom: 2em;">Follow us for updates, sales, new arrivals, and more.</p>
  <div class="widescreen-split content">
    <div class="text-center" style="margin-bottom: 2em;">
      <a href="{{ site.data.business.links.facebook }}" class="text-decoration-none">
        <img src="assets/images/about-facebook.svg" aria-labelledby="about-facebook-heading" class="margin-bottom about-social-icon">
        <h3 id="about-facebook-heading" class="heading text-light">Facebook</h3>
      </a>
    </div>
    <div class="text-center" style="margin-bottom: 2em;">
      <a href="{{ site.data.business.links.instagram }}" class="text-decoration-none">
        <img src="assets/images/about-instagram.svg" aria-labelledby="about-instagram-heading" class="margin-bottom about-social-icon">
        <h3 id="about-instagram-heading" class="heading text-light">Instagram</h3>
      </a>
    </div>
  </div>
</section>