---
layout: main
---
{% include banner.html %}
<div id="homepage" class="widescreen-split fixed-right flex-grow">
  <div id="jumbo" class="widescreen-split-pane">
    <img class="fade-in-up" src="assets/images/transparentlogo.png" alt="Record Swap: Buy, sell, and trade CDs, LPs, and DVDs">
  </div>
  <section id="homepage-blurb" class="widescreen-split-pane align-items-center justify-content-center">
    <h1 class="heading">Record Swap</h1>
    <div class="margin-bottom">
      <i>Champaign-Urbana's oldest operating record store,
      a staple of the community since 1979.</i>
    </div>
    <h2 class="heading">Location</h2>
    <address class="margin-bottom">
      {% for address_line in site.data.business.location.address %}
        <div>{{ address_line }}</div>
      {% endfor %}
    </address>
      {% include hours.html %}
    <h2 class="heading">Email</h2>
    <div class="margin-bottom">
      <a 
        href="mailto:{{ site.data.business.email }}"
        class="text-dark-alt"
      >
        {{ site.data.business.email }}
      </a>
    </div>
    <h2 class="heading">Phone</h2>
    <div>
      <a 
        href="tel:{{ site.data.business.phone }}" 
        class="text-dark-alt"
      >
        {{ site.data.business.phone-formatted }}
      </a>
    </div>
  </section>
</div>
