<h2 class="heading">Hours</h2>
<div class="margin-bottom">
  <div class="underline">Monday - Saturday</div>
  <div>10am - 6pm</div>

  <div class="underline">Sunday</div>
  <div>12pm - 5pm</div>
</div>

<h3 class="heading">Buying Hours</h3>
<div class="margin-bottom">
  <div>12:30pm - Close</div>
</div>  