<a href="{{ include.href }}" class="large-online-store-link bold text-center">
  <img src="/assets/images/shop/store_links/{{ include.store_name | downcase }}.svg" aria-labelledby="shop-{{ include.store_name | downcase }}-link" class="margin-bottom">
  <div id="shop-{{ include.store_name | downcase }}-link" class="heading underline">{{ include.store_name }}</div>
</a>